attrs==25.3.0 ; python_version >= "3.12"
beautifulsoup4==4.13.4 ; python_version >= "3.12"
blinker==1.9.0 ; python_version >= "3.12"
certifi==2025.6.15 ; python_version >= "3.12"
cffi==1.17.1 ; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
click==8.2.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
flasgger==0.9.7.1 ; python_version >= "3.12"
flask==3.1.1 ; python_version >= "3.12"
gunicorn==23.0.0 ; python_version >= "3.12"
h11==0.16.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
itsdangerous==2.2.0 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
joblib==1.5.1 ; python_version >= "3.12"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12"
jsonschema==4.24.0 ; python_version >= "3.12"
markupsafe==3.0.2 ; python_version >= "3.12"
mistune==3.1.3 ; python_version >= "3.12"
numpy==2.3.1 ; python_version >= "3.12"
outcome==1.3.0.post0 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.3.1 ; python_version >= "3.12"
pycparser==2.22 ; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.12"
pyjwt==2.10.1 ; python_version >= "3.12"
pysocks==1.7.1 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.1.1 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
rpds-py==0.26.0 ; python_version >= "3.12"
scikit-learn==1.7.0 ; python_version >= "3.12"
scipy==1.16.0 ; python_version >= "3.12"
selenium==4.34.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sniffio==1.3.1 ; python_version >= "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.12"
soupsieve==2.7 ; python_version >= "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.12"
trio-websocket==0.12.2 ; python_version >= "3.12"
trio==0.30.0 ; python_version >= "3.12"
typing-extensions==4.14.1 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
webdriver-manager==4.0.2 ; python_version >= "3.12"
websocket-client==1.8.0 ; python_version >= "3.12"
werkzeug==3.1.3 ; python_version >= "3.12"
wsproto==1.2.0 ; python_version >= "3.12"
